html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: "Kanit";
}

body {
    display: flex;
    justify-content: space-between;

    
    background: rgb(107, 107, 241);
    font: normal 15 pt;
    
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
}

header {
    color: white;
    text-align: center;
}

img{
    height: 300px;
}

section {

    min-width: 50vw;

    height: 50%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

section > div{
    margin: 1rem;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}